@import "tailwindcss";

:root {
  /* --background: #f3f3f3;  */
  --background: #ece7e1;
  --foreground: #181717;
  --muted-foreground: #606060;
  --primary: #2429af; 
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-mon);
}

@keyframes fadeInLeft {
  from{opacity:0; transform: translateX(30px);}
  to {opacity:1; transform:translateY(0)}}

  @keyframes fadeInRight {
    from{opacity:0; transform: translateX(-30px);}
    to {opacity:1; transform:translateY(0)}}

@keyframes image-fade{
  from{opacity:0;}
  to{opacity:1;}}

.fade-in-image{
  animation: image-fade 1.1s ease-in-out 0s forwards;}

@keyframes scroll-horizontal{
  from {transform: translateX(0);}
  to {transform: translateX(-100%);}
}