@import "tailwindcss";

:root {
  --background: #F3F3F3;
  --foreground: #181717;
  --muted-foreground: #606060;
}

@theme inLine {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-dmsans: var(--font-dm-sans);
}

body {

}