@import "tailwindcss";

:root {
  --background: #f3f3f3; /* Your light gray background */
  --foreground: #181717;
  --muted-foreground: #606060;
  --primary: #2429af; 
}

body {
  color: var(--foreground);
  background: var(--background);
}